/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/data_imp/coverage/
/data_imp-roo/coverage/
/data_imp-tds/coverage/
*.gem
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*~
.*.swp
.byebug_history
